@model dynamic
@{ 
   Layout = null;
}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/assets2/css/AddCourse.css" rel="stylesheet">
    <title>Add Course Form</title>
</head>
<body>

    <form action="" method="post">

        <h1>Add Course</h1>

        <fieldset>

            <legend><span class="number">1</span> Course info</legend>

            <label for="name">Name:</label>
            <input type="text" id="name" name="Name">

            <label for="mail">Description:</label>
            <textarea row="6" name="Description"></textarea>

            <label for="name">Total Sit:</label>
            <input type="text" id="name" name="Capacity">

            <label for="mail">Cost:</label>
            <input type="text" id="mail" name="Cost">

            

        </fieldset>

        <button type="submit">Add</button>

    </form>

</body>
</html>


